*.pyc
*.mat
*.png
*.eps
*.pkl
*.DS_Store
*.asv
*.nc
#*.csv
*.swp
*/not_used/*
octave-workspace
Projects/LAB_fitting_bayesian/data/LAB_models/HopperFischer2018.csv
Data/
vbr/temp
Projects/1_LabData/1_Attenuation/not_used/
